<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/layout">
<head>
    <title>Generator raportów</title>
</head>
<body>
<div layout:fragment="content">
    <h4>Generator raportów, wybierz okres oraz odpowiedni typ raportu.</h4>
    <form class="form-horizontal" th:object="${reportDto}" th:action="@{/report}" method="post">
        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            <p th:text="#{form.hasErrors}">test error</p>
        </div>
        <div th:if="${errorMessage}" class="alert alert-danger">
            <p th:text="${errorMessage}">test error</p>
        </div>

        <div class="form-group" th:class="${#fields.hasErrors('dateFrom')} ? 'form-group has-error' : 'form-group'">
            <label class="col-md-2 control-label">Raport od: </label>
            <div class="col-md-3 input-append date">
                <input type="text" id="dateFrom" th:field="*{dateFrom}" class="form-control" placeholder="DD-MM-YYYY" th:errorclass="has-error"/>
                <span class="help-block">
                    <ul>
                        <li th:each="err : ${#fields.errors('dateFrom')}" th:text="${err}" />
                    </ul>
                </span>
            </div>
        </div>
        <div class="form-group" th:class="${#fields.hasErrors('dateTo')} ? 'form-group has-error' : 'form-group'">
            <label class="col-md-2 control-label">Raport do: </label>
            <div class="col-md-3 input-append date">
                <input type="text" id="dateTo" th:field="*{dateTo}" class="form-control" placeholder="DD-MM-YYYY" th:errorclass="has-error"/>
                <span class="help-block">
                    <ul>
                        <li th:each="err : ${#fields.errors('dateTo')}" th:text="${err}" />
                    </ul>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Typ raportu:</label>
            <div class="col-md-2">
                <select class="form-control" th:field="*{reportType}" th:errorclass="has-error">
                    <option th:each="type : ${reportTypeDto}"
                            th:value="${type.id}"
                            th:text="${type.name}"></option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Generuj</button>
    </form>

    <script src="/webjars/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
    <script>
        $('#dateFrom').datepicker({format : 'dd-mm-yyyy'});
    </script>
    <script>
        $('#dateTo').datepicker({format : 'dd-mm-yyyy'});
    </script>
</div>
</body>
</html>