<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/layout">
<head>
    <title>Raport</title>
</head>
<body>
<div layout:fragment="content">
    <h4 th:text="|Raport wygenerowany dla okresu od ${report.dateFrom} do ${report.dateTo}|"></h4>
    <h5 th:if="${#lists.isEmpty(report.agreements)}">Brak danych dla wybranego okresu.</h5>
    <table class="table table-hover table-striped" th:if="${not #lists.isEmpty(report.agreements)}">
        <thead>
        <tr>
            <th>Wartość umowy</th>
            <th>Treść</th>
            <th>Data realizacji</th>
            <th>Marka pojazdu</th>
            <th>Model pojazdu</th>
            <th>Nr VIN</th>
            <th th:if="${report.type} == 1">Dane</th>
            <th th:if="${report.type} == 1">kupujacego</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="a : ${report.agreements}">
            <td th:text="|${a.amount} zł|"></td>
            <td th:text="${a.content}"></td>
            <td th:text="${a.date}"></td>
            <td th:text="${a.mark}"></td>
            <td th:text="${a.model}"></td>
            <td th:text="${a.vin}"></td>
            <td th:text="${a.buyerName}" th:if="${report.type} == 1"></td>
            <td th:text="${a.buyerSurname}" th:if="${report.type} == 1"></td>
        </tr>
        <tr>
            <td>Suma: </td>
            <td th:text="|${report.sum} zł|"></td>
            <td th:if="${report.type} == 2"></td>
            <td th:if="${report.type} == 2"></td>
            <td th:if="${report.type} == 1">Zysk</td>
            <td th:text="|${report.profit} zł|" th:if="${report.type} == 1"></td>
            <td></td>
            <td></td>
            <td th:if="${report.type} == 1"></td>
            <td th:if="${report.type} == 1"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>