<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
    <title>Layout</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="icon" type="image/png" th:href="@{img/fav.ico}">
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script th:src="@{/webjars/jquery/3.2.0/jquery.min.js}" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script th:src="@{/webjars/bootstrap-table/1.11.1/dist/bootstrap-table.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-table/1.11.1/dist/bootstrap-table.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/css/style.css">
    <script th:src="@{/js/custom.js}"></script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/}">
                    <img th:src="@{/img/fav.ico}" alt="nice car" height="30" width="30">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form autocomplete="off" class="navbar-form navbar-left" sec:authorize="isAuthenticated()" th:action="@{/car/search}" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Wyszukaj" name="searchDto">
                    </div>
                    <button type="submit" class="btn btn-default">Szukaj!</button>
                </form>
                <ul class="nav navbar-nav navbar-right" sec:authorize="isAnonymous()">
                    <li><a th:href="@{/car/list}"><span class="glyphicon glyphicon-th-list"></span> Lista samochodów</a></li>
                    <li><a th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <li><a th:href="@{/registration}"><span class="glyphicon glyphicon-user"></span> Rejestracja</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" sec:authorize="isAuthenticated()">
                    <li><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span> Wyloguj</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="col-md-1" sec:authorize="isAnonymous()"></div>
    <div class="col-md-2" sec:authorize="isAuthenticated()">
        <div class="panel panel-default" sec:authorize="hasAuthority('ROLE_USER')">
            <div class="panel-heading">
                <h3 class="panel-title">Menu</h3>
            </div>
            <div class="list-group">
                <a href="#" th:href="@{/car/list}" class="list-group-item">Lista samochdów</a>
                <a href="#" th:href="@{/car/add}" class="list-group-item">Wystaw samochód</a>
                <a href="#" th:href="@{/account/details}" class="list-group-item">Szczegóły konta</a>
                <a href="#" th:href="@{/account/myCars}" class="list-group-item">Moje samochody</a>
            </div>
        </div>
        <div class="panel panel-default" sec:authorize="hasAnyAuthority('ROLE_TRADER','ROLE_EMPLOYEE')">
            <div class="panel-heading">
                <h3 class="panel-title">Menu Pracownika</h3>
            </div>
            <div class="list-group">
                <a href="#" th:href="@{/car/list}" class="list-group-item">Lista samochdów</a>
                <a href="#" th:href="@{/account/details}" class="list-group-item">Szczegóły konta</a>
                <a href="#" th:href="@{/car/management/list/purchase}" class="list-group-item">Lista samochodów komisu</a>
                <a href="#" th:href="@{/car/management/list/cession}" class="list-group-item">Lista samochodów klientów</a>
                <a href="#" th:href="@{/car/management/sold}" class="list-group-item">Lista sprzedanych samochodów</a>
                <a href="#" th:href="@{/car/management/offers}" class="list-group-item" sec:authorize="hasAuthority('ROLE_TRADER')">Oferty do akceptacji</a>
                <a href="#" th:href="@{/car/management/add/cession}" class="list-group-item">Dodaj w cesji</a>
                <a href="#" th:href="@{/car/management/add/purchase}" class="list-group-item">Dodaj do sprzedaży</a>
            </div>
        </div>
        <div class="panel panel-default" sec:authorize="hasAuthority('ROLE_MANAGER')">
            <div class="panel-heading">
                <h3 class="panel-title">Manager Menu</h3>
            </div>
            <div class="list-group">
                <a href="#" th:href="@{/car/list}" class="list-group-item">Lista samochdów</a>
                <a href="#" th:href="@{/account/details}" class="list-group-item">Szczegóły konta</a>
                <a href="#" th:href="@{/car/management/list/purchase}" class="list-group-item">Lista samochodów komisu</a>
                <a href="#" th:href="@{/car/management/list/cession}" class="list-group-item">Lista samochodów klientów</a>
                <a href="#" th:href="@{/car/management/sold}" class="list-group-item">Lista sprzedanych samochodów</a>
                <a href="#" th:href="@{/car/management/offers}" class="list-group-item">Oferty do akceptacji</a>
                <a href="#" th:href="@{/car/management/add/cession}" class="list-group-item">Dodaj w cesji</a>
                <a href="#" th:href="@{/car/management/add/purchase}" class="list-group-item">Dodaj do sprzedaży</a>
                <a href="#" th:href="@{/user/list/clients}" class="list-group-item">Lista klientów</a>
                <a href="#" th:href="@{/user/list/employee}" class="list-group-item">Lista pracowników</a>
                <a href="#" th:href="@{/user/add}" class="list-group-item">Dodaj klienta</a>
                <a href="#" th:href="@{/report}" class="list-group-item">Generuj raport</a>
            </div>
        </div>
        <div class="panel panel-default" sec:authorize="hasAuthority('ROLE_ADMIN')">
            <div class="panel-heading">
                <h3 class="panel-title">Admin Menu</h3>
            </div>
                <div class="list-group">
                    <a href="#" th:href="@{/admin/userList}" class="list-group-item">Lista użytkowników</a>
                    <a href="#" th:href="@{/car/list}" class="list-group-item">Lista samochdów</a>
                    <a href="#" th:href="@{/car/add}" class="list-group-item">Wystaw samochód</a>
                    <a href="#" th:href="@{/account/details}" class="list-group-item">Szczegóły konta</a>
                    <a href="#" th:href="@{/account/myCars}" class="list-group-item">Moje samochody</a>
                    <a href="#" th:href="@{/car/management/list/purchase}" class="list-group-item">Lista samochodów komisu</a>
                    <a href="#" th:href="@{/car/management/list/cession}" class="list-group-item">Lista samochodów klientów</a>
                    <a href="#" th:href="@{/car/management/sold}" class="list-group-item">Lista sprzedanych samochodów</a>
                    <a href="#" th:href="@{/car/management/offers}" class="list-group-item">Oferty do akceptacji</a>
                    <a href="#" th:href="@{/car/management/add/cession}" class="list-group-item">Dodaj w cesji</a>
                    <a href="#" th:href="@{/car/management/add/purchase}" class="list-group-item">Dodaj do sprzedaży</a>
                    <a href="#" th:href="@{/user/list/clients}" class="list-group-item">Lista klientów</a>
                    <a href="#" th:href="@{/user/list/employee}" class="list-group-item">Lista pracowników</a>
                    <a href="#" th:href="@{/user/add}" class="list-group-item">Dodaj klienta</a>
                    <a href="#" th:href="@{/report}" class="list-group-item">Generuj raport</a>
                </div>
        </div>
    </div>
    <div class="col-md-10">
        <div layout:fragment="content">Fake content</div>
    </div>
    <nav class="footer navbar-fixed-bottom navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/contact}">Kontakt</a>
            </div>
        </div>
    </nav>
</div>
</body>
</html>
