<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/layout">
<head>
    <title>Lista użytkowników systemu</title>
</head>
<body>
<div layout:fragment="content">
    <div class="page-header">
        <h3>Lista użytkowników systemu</h3>
    </div>
    <table class="table table-hover table-striped" th:if="${not #lists.isEmpty(users)}">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nazwa użytkownika</th>
            <th>Email</th>
            <th>Edytuj</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
            <td>
                <a th:href="@{/admin/details(id=${user.id})}">
                <button class="btn btn-md btn-info">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>