<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/layout">
<head>
    <title>Szczegóły wybranego samochodu</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form class="form-horizontal" th:object="${userDetailsDto}" th:action="@{/admin/details}" method="post">
                <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <p th:text="#{form.hasErrors}">test error</p>
                </div>
                <input type="hidden" th:field="*{id}"/>
            <div class="panel panel-default">
                <div class="panel-heading">Szczegóły użytkownika</div>
            <table class="table table-striped">
                <tbody>
                    <tr class="form-group" th:class="${#fields.hasErrors('username')} ? 'form-group has-error' : 'form-group'">
                        <td><strong>Nazwa użytkownika: </strong></td>
                        <td>
                        <input type="text" class="form-control" th:field="*{username}" th:errorclass="has-error"/>
                        <span class="help-block">
                            <ul>
                                <li th:each="err : ${#fields.errors('username')}" th:text="${err}" />
                            </ul>
                        </span>
                        </td>
                    </tr>
                    <tr class="form-group" th:class="${#fields.hasErrors('email')} ? 'form-group has-error' : 'form-group'">
                        <td><strong>Email: </strong></td>
                        <td>
                        <input type="text" class="form-control" th:field="*{email}" th:errorclass="has-error"/>
                        <span class="help-block">
                            <ul>
                                <li th:each="err : ${#fields.errors('email')}" th:text="${err}" />
                            </ul>
                        </span>
                        </td>
                    </tr>
                    <tr class="form-group" th:class="${#fields.hasErrors('accountActive')} ? 'form-group has-error' : 'form-group'">
                        <td><strong>Konto aktywne:</strong></td>
                        <td>
                        <input type="checkbox" class="form-control" th:field="*{accountActive}" th:errorclass="has-error"/>
                        <span class="help-block">
                            <ul>
                                <li th:each="err : ${#fields.errors('accountActive')}" th:text="${err}" />
                            </ul>
                        </span>
                        </td>
                    </tr>
                    <tr class="form-group" th:class="${#fields.hasErrors('notBlocked')} ? 'form-group has-error' : 'form-group'">
                        <td><strong>Konto niezablokowane: </strong></td>
                        <td>
                        <input type="checkbox" class="form-control" th:field="*{notBlocked}" th:errorclass="has-error"/>
                        <span class="help-block">
                            <ul>
                                <li th:each="err : ${#fields.errors('notBlocked')}" th:text="${err}" />
                            </ul>
                        </span>
                        </td>
                    </tr>
                    <tr class="form-group" th:class="${#fields.hasErrors('roleId')} ? 'form-group has-error' : 'form-group'">
                        <td><strong>Uprawnienia: </strong></td>
                        <td>
                        <select class="form-control" th:field="*{roleId}" th:errorclass="has-error">
                            <option th:each="role : ${roles}"
                                    th:value="${role.id}"
                                    th:text="${role.name}">
                            </option>
                        </select>
                        <span class="help-block">
                            <ul>
                                <li th:each="err : ${#fields.errors('roleId')}" th:text="${err}" />
                            </ul>
                        </span>
                        </td>
                    </tr>
                    <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <button type="submit" class="btn btn-primary pull-right">Zaakceptuj</button>
                    </td>
                    </tr>
                </tbody>
            </table>
            </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>