<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/layout">
<head>
    <title>Rejestracja</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row page-header">
        <h3 class="text-center">Jesteś zainteresowany zakupem samochodu? Skontaktuj się z nami!</h3>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form autocomplete="off" class="form-horizontal" action="#" th:action="@{/contact}" th:object="${contactDto}" method="post">
                <div class="form-group" th:class="${#fields.hasErrors('message')} ? 'form-group has-error' : 'form-group'">
                    <label for="message"></label>
                    <div>
                        <textarea class="form-control" type="text" th:field="*{message}" id="message" placeholder="Wiadomość" th:errorclass="has-error"/>
                        <label th:if="${#fields.hasErrors('message')}" th:errors="*{message}" class="text-danger"></label>
                    </div>
                </div>

                <div class="form-group" th:class="${#fields.hasErrors('email')} ? 'form-group has-error' : 'form-group'">
                    <label for="email">Email:</label>
                    <div>
                        <input class="form-control" type="email" th:field="*{email}" id="email" placeholder="Email" th:errorclass="has-error"/>
                        <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></label>
                    </div>
                </div>

                <div class="form-group" th:class="${#fields.hasErrors('phone')} ? 'form-group has-error' : 'form-group'">
                    <label for="phone">Telefon:</label>
                    <div>
                        <input class="form-control" type="text" th:field="*{phone}" id="phone" placeholder="Telefon" th:errorclass="has-error"/>
                        <label th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="text-danger"></label>
                    </div>
                </div>
                <div class="form-group" th:class="${#fields.hasErrors('date')} ? 'form-group has-error' : 'form-group'">
                    <label for="date">Preferowana data spotkania: </label>
                    <div>
                        <input type="text" id="date" th:field="*{date}" class="form-control" placeholder="DD-MM-YYYY" th:errorclass="has-error"/>
                        <label th:if="${#fields.hasErrors('date')}" th:errors="*{date}" class="text-danger"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <button class="btn-block btn btn-primary btn-md" name="Wyślij" value="Wyślij" type="Submit" th:text="Wyślij"></button>
                    </div>
                </div>
            </form>
        </div>
        <script src="/webjars/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
        <script>
            $('#date').datepicker({format : 'dd-mm-yyyy'});
        </script>
    </div>
</div>
</body>
</html>