<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/layout">
<head>
    <title>List samochdów</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="span12">
            <div class="jumbotron pager">
                <h1>Page Not Found <small class="text-danger">Error 404</small></h1>
                <br />
                <div><h3 th:text="${errorMessage}" class="text-danger"></h3></div>
                <br />
                <a href="#" th:href="@{/}" class="btn btn-large btn-danger"><span class="glyphicon glyphicon-home"> Strona główna</span></a>
            </div>
            <br />
        </div>
    </div>
</div>
</body>
</html>