<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/layout">
<head>
    <title>Login</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form  class="form-horizontal" th:action="@{/login}" method="POST">

                    <div class="form-group">
                        <div class="form-group">
                            <label for="username">Nazwa użytkownika:</label>
                            <div>
                                <input class="form-control" type="text" required="required" id="username" name="username" placeholder="Nazwa użytkownika" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password">Hasło:</label>
                            <div>
                                <input class="form-control" type="password" required="required" placeholder="Hasło" id="password" name="password"/>
                            </div>
                        </div>
                        <a th:href="@{/resetpassword}">Nie pamiętam hasła</a>
                        <div class="form-group" align="center">
                            <div>
                                <button class="btn-block btn btn-primary btn-md" name="Submit" value="Login" type="Submit" th:text="Zaloguj"></button>
                            </div>
                        </div>
                        <div align="center" th:if="${param.error}" class="alert alert-danger">
                            <p class="text-danger">Email lub hasło niepoprawne</p>
                        </div>
                        <div align="center" th:if="${registrationMessage}" class="alert alert-success">
                            <p class="text-success" th:text="${registrationMessage}"></p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>
</body>
</html>