<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/layout">
<head>
    <title>Rejestracja</title>
</head>
<body>
<div layout:fragment="content">

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">

            <form autocomplete="off" class="form-horizontal" action="#" th:action="@{/registration}" th:object="${userDto}" method="post">
                <div class="form-group" th:class="${#fields.hasErrors('username')} ? 'form-group has-error' : 'form-group'">
                    <label for="username">Nazwa użytkownika:</label>
                    <div>
                        <input class="form-control" type="text" th:field="*{username}" required="required" id="username" placeholder="Nazwa użytkownika" th:errorclass="has-error"/>
                        <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></label>
                    </div>
                </div>

                <div class="form-group" th:class="${#fields.hasErrors('email')} ? 'form-group has-error' : 'form-group'">
                    <label for="email">Email:</label>
                    <div>
                        <input class="form-control" type="email" th:field="*{email}" required="required" id="email" placeholder="Email" th:errorclass="has-error"/>
                        <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></label>
                    </div>
                </div>

                <div class="form-group" th:class="${#fields.hasErrors('password')} ? 'form-group has-error' : 'form-group'">
                    <label for="password">Hasło:</label>
                    <div>
                        <input class="form-control" type="password" th:field="*{password}" required="required" id="password" placeholder="Hasło" th:errorclass="has-error"/>
                        <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></label>
                    </div>
                </div>

                <div class="form-group" th:class="${#fields.hasErrors('confirmPassword')} ? 'form-group has-error' : 'form-group'">
                    <label for="confirmPassword">Potwierdzenie hasła:</label>
                    <div>
                        <input class="form-control" type="password" th:field="*{confirmPassword}" required="required" id="confirmPassword" placeholder="Potwierdzenie hasła" th:errorclass="has-error"/>
                        <label th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="text-danger"></label>
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <button class="btn-block btn btn-primary btn-md" name="Submit" value="Rejestracja" type="Submit" th:text="Rejestracja"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>