<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/layout">
<head>
    <title>Dodaj samochód</title>
</head>
<body>
<div layout:fragment="content">
    <form class="form-horizontal" th:object="${carAgreementDto}" enctype="multipart/form-data" th:action="@{/car/management/add}" method="post">
        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            <p th:text="#{form.hasErrors}">test error</p>
        </div>
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{imageUrl}"/>
        <input type="hidden" th:value="${agreementType}" name="agreementTypeId"/>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group" th:class="${#fields.hasErrors('mark')} ? 'form-group has-error' : 'form-group'">
                    <label class="col-md-5 control-label">Marka:</label>
                    <div class="col-md-7">
                    <input type="text" class="form-control" th:field="*{mark}" th:errorclass="has-error"/>
                    <span class="help-block">
                    <ul>
                        <li th:each="err : ${#fields.errors('mark')}" th:text="${err}" />
                    </ul>
                </span>
                </div>
                </div>
                <div class="form-group" th:class="${#fields.hasErrors('model')} ? 'form-group has-error' : 'form-group'">
                    <label class="col-md-5 control-label">Model:</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control" th:field="*{model}" th:errorclass="has-error"/>
                        <span class="help-block">
                    <ul>
                        <li th:each="err : ${#fields.errors('model')}" th:text="${err}" />
                    </ul>
                </span>
                    </div>
                </div>
                <div class="form-group" th:class="${#fields.hasErrors('year')} ? 'form-group has-error' : 'form-group'">
                    <label class="col-md-5 control-label">Rocznik:</label>
                    <div class="col-md-7">
                        <input type="number" step="0" class="form-control" th:field="*{year}" th:errorclass="has-error"/>
                        <span class="help-block">
                    <ul>
                        <li th:each="err : ${#fields.errors('year')}" th:text="${err}" />
                    </ul>
                </span>
                    </div>
                </div>
                <div class="form-group" th:class="${#fields.hasErrors('mileage')} ? 'form-group has-error' : 'form-group'">
                    <label class="col-md-5 control-label">Przebieg:</label>
                    <div class="col-md-7">
                        <div class="input-group">
                            <input type="number" step="0" class="form-control" th:field="*{mileage}" th:errorclass="has-error"/>
                            <span class="input-group-addon">Km</span>
                        </div>
                        <span class="help-block">
                    <ul>
                        <li th:each="err : ${#fields.errors('mileage')}" th:text="${err}" />
                    </ul>
                </span>
                    </div>
                </div>
                <div class="form-group" th:class="${#fields.hasErrors('vin')} ? 'form-group has-error' : 'form-group'">
                    <label class="col-md-5 control-label">Vin:</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control" th:field="*{vin}" th:errorclass="has-error"/>
                        <span class="help-block">
                    <ul>
                        <li th:each="err : ${#fields.errors('vin')}" th:text="${err}" />
                    </ul>
                </span>
                    </div>
                </div>
                <div class="form-group" th:class="${#fields.hasErrors('fuelType')} ? 'form-group has-error' : 'form-group'">
                    <label class="col-md-5 control-label">Rodzaj paliwa:</label>
                    <div class="col-md-7">
                        <select class="form-control" th:field="*{fuelType}" th:errorclass="has-error">
                            <option th:each="fuel : ${fuelTypes}"
                                    th:value="${fuel.id}"
                                    th:text="${fuel.type}"></option>
                        </select>
                        <span class="help-block">
                    <ul>
                        <li th:each="err : ${#fields.errors('fuelType')}" th:text="${err}" />
                    </ul>
                </span>
                    </div>
                </div>
                <div class="form-group" th:class="${#fields.hasErrors('description')} ? 'form-group has-error' : 'form-group'">
                    <label class="col-md-5 control-label">Opis:</label>
                    <div class="col-md-7">
                        <textarea type="text" class="form-control" th:field="*{description}" th:errorclass="has-error"/>
                        <span class="help-block">
                    <ul>
                        <li th:each="err : ${#fields.errors('description')}" th:text="${err}" />
                    </ul>
                </span>
                    </div>
                </div>
                <div class="form-group" th:class="${#fields.hasErrors('engineCapacity')} ? 'form-group has-error' : 'form-group'">
                    <label class="col-md-5 control-label">Pojemność silnika:</label>
                    <div class="col-md-7">
                        <div class="input-group">
                            <input type="number" step="0" class="form-control" th:field="*{engineCapacity}" th:errorclass="has-error"/>
                            <span class="input-group-addon">cm3</span>
                        </div>
                        <span class="help-block">
                    <ul>
                        <li th:each="err : ${#fields.errors('engineCapacity')}" th:text="${err}" />
                    </ul>
                </span>
                    </div>
                </div>
                <div class="form-group" th:class="${#fields.hasErrors('power')} ? 'form-group has-error' : 'form-group'">
                    <label class="col-md-5 control-label">Moc silnika:</label>
                    <div class="col-md-7">
                        <div class="input-group">
                            <input type="number" step="0" class="form-control" th:field="*{power}" th:errorclass="has-error"/>
                            <span class="input-group-addon">KM</span>
                        </div>
                        <span class="help-block">
                    <ul>
                        <li th:each="err : ${#fields.errors('power')}" th:text="${err}" />
                    </ul>
                </span>
                    </div>
                </div>
                <div class="form-group" th:class="${#fields.hasErrors('gearbox')} ? 'form-group has-error' : 'form-group'">
                    <label class="col-md-5 control-label">Skrzynia biegów:</label>
                    <div class="col-md-7">
                        <select class="form-control" th:field="*{gearbox}" th:errorclass="has-error">
                            <option th:each="gearboxType : ${gearboxes}"
                                    th:value="${gearboxType.id}"
                                    th:text="${gearboxType.type}"></option>
                        </select>
                        <span class="help-block">
                    <ul>
                        <li th:each="err : ${#fields.errors('gearbox')}" th:text="${err}" />
                    </ul>
                </span>
                    </div>
                </div>
                <div class="form-group" th:class="${#fields.hasErrors('liabilityNumber')} ? 'form-group has-error' : 'form-group'">
                    <label class="col-md-5 control-label">Nr OC:</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control" th:field="*{liabilityNumber}" th:errorclass="has-error"/>
                        <span class="help-block">
                    <ul>
                        <li th:each="err : ${#fields.errors('liabilityNumber')}" th:text="${err}" />
                    </ul>
                </span>
                    </div>
                </div>
                <div class="form-group" th:class="${#fields.hasErrors('registrationNumber')} ? 'form-group has-error' : 'form-group'">
                    <label class="col-md-5 control-label">Numer rej.:</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control" th:field="*{registrationNumber}" th:errorclass="has-error"/>
                        <span class="help-block">
                    <ul>
                        <li th:each="err : ${#fields.errors('registrationNumber')}" th:text="${err}" />
                    </ul>
                </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 control-label">Zdjęcie:</label>
                    <div class="col-md-7">
                        <input type="file" name="file"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" th:class="${#fields.hasErrors('content')} ? 'form-group has-error' : 'form-group'">
                    <label class="col-md-5 control-label">Treść umowy:</label>
                    <div class="col-md-7">
                        <textarea type="text" class="form-control" th:field="*{content}" th:errorclass="has-error"/>
                        <span class="help-block">
                    <ul>
                        <li th:each="err : ${#fields.errors('content')}" th:text="${err}" />
                    </ul>
                </span>
                    </div>
                </div>
                <div class="form-group" th:class="${#fields.hasErrors('amount')} ? 'form-group has-error' : 'form-group'">
                    <label class="col-md-5 control-label">Kwota:</label>
                    <div class="col-md-7">
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input type="text" class="form-control" th:field="*{amount}" th:errorclass="has-error"/>
                            <span class="input-group-addon">zł</span>
                        </div>
                        <span class="help-block">
                    <ul>
                        <li th:each="err : ${#fields.errors('amount')}" th:text="${err}" />
                    </ul>
                </span>
                    </div>
                </div>
                <div class="form-group" th:class="${#fields.hasErrors('name')} ? 'form-group has-error' : 'form-group'" th:if="${agreementType} == 2">
                    <label class="col-md-5 control-label">Imię:</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control" th:field="*{name}" th:errorclass="has-error" th:readonly="*{id}"/>
                        <span class="help-block">
                    <ul>
                        <li th:each="err : ${#fields.errors('name')}" th:text="${err}" />
                    </ul>
                </span>
                    </div>
                </div>
                <div class="form-group" th:class="${#fields.hasErrors('surname')} ? 'form-group has-error' : 'form-group'" th:if="${agreementType} == 2">
                    <label class="col-md-5 control-label">Nazwisko:</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control" th:field="*{surname}" th:errorclass="has-error" th:readonly="*{id}"/>
                        <span class="help-block">
                    <ul>
                        <li th:each="err : ${#fields.errors('surname')}" th:text="${err}" />
                    </ul>
                </span>
                    </div>
                </div>
                <div class="form-group" th:class="${#fields.hasErrors('pesel')} ? 'form-group has-error' : 'form-group'" th:if="${agreementType} == 2">
                    <label class="col-md-5 control-label">Pesel:</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control" th:field="*{pesel}" th:errorclass="has-error" th:readonly="*{id}"/>
                        <span class="help-block">
                    <ul>
                        <li th:each="err : ${#fields.errors('pesel')}" th:text="${err}" />
                    </ul>
                </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 control-label">Typ umowy:</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control text-primary" readonly th:value="${agreementType} == 1 ? Zakup : Cesja"/>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary pull-right">Zaakceptuj</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>