<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>List samochdów</title>
</head>
<body>
<div layout:fragment="content">
    <div class="page-header">
        <h1 th:text="${title} ? ${title} : 'Lista dostępnych samochodów'"></h1>
    </div>
    <h4 th:if="${#lists.isEmpty(cars)}">Brak danych...</h4>
    <table th:if="${not #lists.isEmpty(cars)}" data-toggle="table" data-classes="table-no-bordered" class="table table-hover table-striped">
        <thead>
        <tr>
            <th class="col-md-2"></th>
            <th data-sortable="true">Marka</th>
            <th data-sortable="true">Model</th>
            <th>Rok</th>
            <th>Przebieg</th>
            <th>Silnik</th>
            <th>Paliwo</th>
            <th>Moc</th>
            <th>Cena</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${cars}">
            <td th:if="${car.imageUrl}"><img th:src="|@{${car.imageUrl}}|" width="150" alt="car"/></td>
            <td th:text="${car.mark}"></td>
            <td th:text="${car.model}"></td>
            <td th:text="${car.year}"></td>
            <td th:text="|${car.mileage} km|"></td>
            <td th:text="|${car.engineCapacity} cm3|"></td>
            <td th:text="${car.fuelType}"></td>
            <td th:text="|${car.power} KM|"></td>
            <td th:text="${car.price != null} ? |${car.price} zł| : 'brak danych'"></td>
            <td sec:authorize="isAuthenticated()">
                <a th:href="${isOwner} ? @{/account/myCars/details(id=${car.id})} : @{/car/details(id=${car.id})}">
                <button class="btn btn-md btn-info">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                </button>
            </a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>