<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/layout">
<head>
    <title>Szczegóły Twojego samochodu</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-6" >
            <img th:if="${carDto.imageUrl}" th:src="|@{${carDto.imageUrl}}|" class="img-thumbnail center-block" alt="car" />
            <div align="center" th:if="${testDrive}" class="alert alert-success">
                <p class="text-success" th:text="${testDrive}"></p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Szczegóły wybranego samochodu</div>
            <table class="table table-striped" th:if="${carDto}">
                <tbody>
                    <tr>
                        <td><strong>Marka: </strong></td>
                        <td th:text="${carDto.mark}"></td>
                    </tr>
                    <tr>
                        <td><strong>Model: </strong></td>
                        <td th:text="${carDto.model}"></td>
                    </tr>
                    <tr>
                        <td><strong>Rok produkcji: </strong></td>
                        <td th:text="${carDto.year}"></td>
                    </tr>
                    <tr>
                        <td><strong>Przebieg: </strong></td>
                        <td th:text="|${carDto.mileage} km|"></td>
                    </tr>
                    <tr>
                        <td><strong>Poj. silnika: </strong></td>
                        <td th:text="|${carDto.engineCapacity} cm3|"></td>
                    </tr>
                    <tr>
                        <td><strong>Rodzaj paliwa: </strong></td>
                        <td th:text="${carDto.fuelType}"></td>
                    </tr>
                    <tr>
                        <td><strong>Moc silnika: </strong></td>
                        <td th:text="|${carDto.power} KM|"></td>
                    </tr>
                    <tr>
                        <td><strong>Skrzynia biegów:</strong></td>
                        <td th:text="${carDto.gearbox}"></td>
                    </tr>
                    <tr>
                        <td><strong>VIN: </strong></td>
                        <td th:text="${carDto.vin}"></td>
                    </tr>
                    <tr>
                        <td><strong>Nr OC:</strong></td>
                        <td th:text="${carDto.liabilityNumber}"></td>
                    </tr>
                    <tr>
                        <td><strong>Nr rej.: </strong></td>
                        <td th:text="${carDto.registrationNumber}"></td>
                    </tr>
                    <tr>
                        <td><strong>Zainteresowanie: </strong></td>
                        <td th:text="|${carDto.testDrives} jazd próbnych|"></td>
                    </tr>
                    <tr>
                        <td><strong>Opis: </strong></td>
                        <td th:text="${carDto.description}"></td>
                    </tr>
                    <tr>
                        <td><strong>Dane właściciela: </strong></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td th:text="${carDto.name}"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td th:text="${carDto.surname}"></td>
                    </tr>
                    <tr>
                        <td><strong>Cena: </strong></td>
                        <td th:text="${carDto.price != null} ? |${carDto.price} zł| : 'brak danych'"></td>
                    </tr>
                    <tr>
                        <td>
                            <a th:href="${'/car/update/' + id}">
                                <button class="btn btn-md btn-info">
                                    <span class="glyphicon glyphicon-pencil"> Aktualizuj</span>
                                </button>
                            </a>
                    </td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>