<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/layout">
<head>
    <title>List samochdów</title>
</head>
<body>
<div layout:fragment="content">
    <div class="page-header">
        <h1>Lista sprzedanych samochodów</h1>
    </div>
    <h5 th:if="${#lists.isEmpty(cars)}">Brak danych...</h5>
    <table class="table table-hover table-striped" th:if="${not #lists.isEmpty(cars)}">
        <thead>
        <tr>
            <th class="col-sm-2">Zdjęcie</th>
            <th>Marka</th>
            <th>Model</th>
            <th>Rok</th>
            <th>Cena</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${cars}">
            <td th:if="${car.imageUrl}"><img th:src="|@{${car.imageUrl}}|" width="150" alt="car"/></td>
            <td th:text="${car.mark}"></td>
            <td th:text="${car.model}"></td>
            <td th:text="${car.year}"></td>
            <td th:text="|${car.price} zł|"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>