<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/layout">
<head>
    <title>List użytkowników</title>
</head>
<body>
<div layout:fragment="content">
    <h5 th:if="${#lists.isEmpty(people)}">Brak danych...</h5>
    <table class="table" th:if="${not #lists.isEmpty(people)}">
        <thead>
        <tr>
            <th>Imię:</th>
            <th>Nazwisko: </th>
            <th>Nip: </th>
            <th class="col-sm-1"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person : ${people}">
            <td th:text="${person.name}"></td>
            <td th:text="${person.surname}"></td>
            <td th:text="${person.nip}"></td>
            <td><a th:href="@{/user/details(id=${person.id})}">
                <button class="btn btn-info btn-block">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                </button>
            </a></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><a th:href="@{/user/add}">
                <button class="btn btn-md btn-success btn-block">Dodaj</button>
            </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>