<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Szczegóły użytkownika</title>
</head>
<body>
<div layout:fragment="content">
    <table class="table table-bordered">
        <tbody>
        <tr th:if="${personDto.username}">
            <td>Nazwa użytkownika: </td>
            <td th:text="${personDto.username}"></td>
        </tr>
        <tr th:if="${personDto.email}">
            <td>E-mail: </td>
            <td th:text="${personDto.email}"></td>
        </tr>
        <tr>
            <td>Imię: </td>
            <td th:text="${personDto.name}" th:if="${personDto.name}"></td>
        </tr>
        <tr>
            <td>Nazwisko: </td>
            <td th:text="${personDto.surname}" th:if="${personDto.surname}"></td>
        </tr>
        <tr>
            <td>Nip: </td>
            <td th:text="${personDto.nip}" th:if="${personDto.nip}"></td>
        </tr>
        <tr>
            <td>Pesel: </td>
            <td th:text="${personDto.pesel}" th:if="${personDto.pesel}"></td>
        </tr>
        <tr>
            <td>Ulica: </td>
            <td th:text="${personDto.street}" th:if="${personDto.street}"></td>
        </tr>
        <tr>
            <td>Miasto: </td>
            <td th:text="${personDto.city}" th:if="${personDto.city}"></td>
        </tr>
        <tr>
            <td>Kraj: </td>
            <td th:text="${personDto.country}" th:if="${personDto.country}"></td>
        </tr>
        <tr>
            <td></td>
            <td><div class="pull-right">
                <a th:href="@{/user/update(id=${personDto.id})}" sec:authorize="hasAnyAuthority('ROLE_MANAGER','ROLE_ADMIN')">
                <button class="btn btn-md btn-primary">Edytuj</button>
            </a>
            <a th:href="@{/user/delete(id=${personDto.id})}" th:if="${personDto.id} != 1" sec:authorize="hasAnyAuthority('ROLE_MANAGER','ROLE_ADMIN')">
                <button class="btn btn-md btn-warning">Usuń</button>
            </a>
                <a th:href="@{/account/update}" sec:authorize="hasAnyAuthority('ROLE_EMPLOYEE','ROLE_TRADER','ROLE_USER')">
                    <button class="btn btn-md btn-primary">Edytuj</button>
                </a>
            </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>