<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/layout">
<head>
    <title>Uzupełnij swoje kupującego</title>
</head>
<body>
<div layout:fragment="content">
    <form class="form-horizontal" th:object="${sellDto}" th:action="@{/car/management/sell}" method="post">
        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            <p th:text="#{form.hasErrors}">test error</p>
        </div>
        <input type="hidden" th:field="*{carId}"/>
        <div class="form-group" th:class="${#fields.hasErrors('name')} ? 'form-group has-error' : 'form-group'">
            <label class="col-sm-2 control-label">Imię kupującego: </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{name}" th:errorclass="has-error"/>
                <span class="help-block">
                    <ul>
                        <li th:each="err : ${#fields.errors('name')}" th:text="${err}" />
                    </ul>
                </span>
            </div>
        </div>
        <div class="form-group" th:class="${#fields.hasErrors('surname')} ? 'form-group has-error' : 'form-group'">
            <label class="col-sm-2 control-label">Nazwisko kupującego:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{surname}" th:errorclass="has-error"/>
                <span class="help-block">
                    <ul>
                        <li th:each="err : ${#fields.errors('surname')}" th:text="${err}" />
                    </ul>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">NIP (opcjonalnie): </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{nip}"/>
            </div>
        </div>
        <div class="form-group" th:class="${#fields.hasErrors('pesel')} ? 'form-group has-error' : 'form-group'">
            <label class="col-sm-2 control-label">PESEL: </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{pesel}" th:errorclass="has-error"/>
                <span class="help-block">
                    <ul>
                        <li th:each="err : ${#fields.errors('pesel')}" th:text="${err}" />
                    </ul>
                </span>
            </div>
        </div>
        <div class="form-group" th:class="${#fields.hasErrors('street')} ? 'form-group has-error' : 'form-group'">
            <label class="col-sm-2 control-label">Ulica:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{street}" th:errorclass="has-error"/>
                <span class="help-block">
                    <ul>
                        <li th:each="err : ${#fields.errors('street')}" th:text="${err}" />
                    </ul>
                </span>
            </div>
        </div>
        <div class="form-group" th:class="${#fields.hasErrors('city')} ? 'form-group has-error' : 'form-group'">
            <label class="col-sm-2 control-label">Miasto:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{city}" th:errorclass="has-error"/>
                <span class="help-block">
                    <ul>
                        <li th:each="err : ${#fields.errors('city')}" th:text="${err}" />
                    </ul>
                </span>
            </div>
        </div>
        <div class="form-group" th:class="${#fields.hasErrors('country')} ? 'form-group has-error' : 'form-group'">
            <label class="col-sm-2 control-label">Kraj:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{country}" th:errorclass="has-error"/>
                <span class="help-block">
                    <ul>
                        <li th:each="err : ${#fields.errors('country')}" th:text="${err}" />
                    </ul>
                </span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary pull-right">Zatwierdź</button>
    </form>
</div>
</body>
</html>