<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/layout">
<head>
    <title>Szczegóły umowy do akceptacji</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-6" >
            <div class="row">
                <img th:if="${carDto.imageUrl}" th:src="|@{${carDto.imageUrl}}|" class="img-thumbnail center-block" alt="car" />
            </div>
            <div class="row">
                <form class="form-horizontal" th:object="${offer}" th:action="@{/car/management/offers}" method="post">
                    <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                        <p th:text="#{form.hasErrors}">test error</p>
                    </div>
                    <input type="hidden" th:field="*{id}"/>
                    <div class="form-group" th:class="${#fields.hasErrors('content')} ? 'form-group has-error' : 'form-group'">
                        <label class="col-md-2 control-label">Treść:</label>
                        <div class="col-md-9">
                            <textarea type="text" class="form-control" th:field="*{content}" th:errorclass="has-error"/>
                            <span class="help-block">
                                <ul>
                                    <li th:each="err : ${#fields.errors('content')}" th:text="${err}" />
                                </ul>
                            </span>
                        </div>
                    </div>
                    <div class="form-group" th:class="${#fields.hasErrors('amount')} ? 'form-group has-error' : 'form-group'">
                        <label class="col-md-2 control-label">Kwota:</label>
                        <div class="col-md-7">
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input type="text" class="form-control" th:field="*{amount}" th:errorclass="has-error"/>
                                <span class="input-group-addon">zł</span>
                            </div>
                            <span class="help-block">
                                <ul>
                                    <li th:each="err : ${#fields.errors('amount')}" th:text="${err}" />
                                </ul>
                            </span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Zatwierdź</button>
                </form>
                <div class="col-sm-2">
                    <a th:href="@{/car/management/offers}">
                        <button class="btn btn-md btn-success">Powrót</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Szczegóły wybranego samochodu</div>
            <table class="table table-striped" th:if="${carDto}">
                <tbody>
                    <tr>
                        <td><strong>Marka: </strong></td>
                        <td th:text="${carDto.mark}"></td>
                    </tr>
                    <tr>
                        <td><strong>Model: </strong></td>
                        <td th:text="${carDto.model}"></td>
                    </tr>
                    <tr>
                        <td><strong>Rok produkcji: </strong></td>
                        <td th:text="${carDto.year}"></td>
                    </tr>
                    <tr>
                        <td><strong>Przebieg: </strong></td>
                        <td th:text="|${carDto.mileage} km|"></td>
                    </tr>
                    <tr>
                        <td><strong>Poj. silnika: </strong></td>
                        <td th:text="|${carDto.engineCapacity} cm3|"></td>
                    </tr>
                    <tr>
                        <td><strong>Rodzaj paliwa: </strong></td>
                        <td th:text="${carDto.fuelType}"></td>
                    </tr>
                    <tr>
                        <td><strong>Moc silnika: </strong></td>
                        <td th:text="|${carDto.power} KM|"></td>
                    </tr>
                    <tr>
                        <td><strong>Skrzynia biegów:</strong></td>
                        <td th:text="${carDto.gearbox}"></td>
                    </tr>
                    <tr>
                        <td><strong>VIN: </strong></td>
                        <td th:text="${carDto.vin}"></td>
                    </tr>
                    <tr>
                        <td><strong>Nr OC:</strong></td>
                        <td th:text="${carDto.liabilityNumber}"></td>
                    </tr>
                    <tr>
                        <td><strong>Nr rej.: </strong></td>
                        <td th:text="${carDto.registrationNumber}"></td>
                    </tr>
                    <tr>
                        <td><strong>Zainteresowanie: </strong></td>
                        <td th:text="|${carDto.testDrives} jazd próbnych|"></td>
                    </tr>
                    <tr>
                        <td><strong>Opis: </strong></td>
                        <td th:text="${carDto.description}"></td>
                    </tr>
                    <tr>
                        <td><strong>Dane właściciela: </strong></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td th:text="${carDto.name}"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td th:text="${carDto.surname}"></td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>