<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/layout">
<head>
    <title>Umowy do akceptacji</title>
</head>
<body>
<div layout:fragment="content">
    <table class="table table-hover" th:if="${not #lists.isEmpty(offers)}">
        <thead>
        <tr class="active">
            <th class="col-sm-2">Oferty do akceptacji: </th>
            <th class="col-sm-1"></th>
            <th class="col-sm-1"></th>
            <th class="col-sm-1"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="offer : ${offers}">
            <td th:text="${offer.content}"></td>
            <td th:text="${offer.name}"></td>
            <td th:text="${offer.surname}"></td>
            <td><a th:href="@{/car/management/offers/details(id=${offer.id})}">
                <button class="btn btn-primary">
                    <span class="glyphicon glyphicon-info-sign"> Szczegóły</span>
                </button>
            </a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>